.deps
*.o
*.obj
.*.swp
*.asc
*.exe
*~
*.bak
*.in
bacon-config.h
Makefile
aclocal.m4
autom4te.cache
config.*
configure
depcomp
missing
bacon*.tar.gz
bacon*.tar.bz2
bacon*.tar.lzma
bacon*.zip
install-sh
stamp-h?
